
<head>
  <meta charset="utf-8">
  <title>Drum Kit</title>
  <link rel="stylesheet" href="app.component.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>

<body>

  <h1 id="title">Drum 🥁 Kit</h1>
  <div class="set" >
    <button class="w drum" (click)="playtom1()">w</button>
    <button class="a drum" (click)="playtom2()">a</button>
    <button class="s drum" (click)="playtom3()">s</button>
    <button class="d drum" (click)="playtom4()">d</button>
    <button class="j drum" (click)="playsnare()">j</button>
    <button class="k drum" (click)="playcrash()">k</button>
    <button class="l drum" (click)="playkickbass()">l</button>
  </div>


  <footer>
    Made with ❤️ in London.
  </footer>
</body>