.edit-form {
  max-width: 700px;
  margin: auto;
}

.tracker-edit-list{
  margin-left: 270px;
}

.background-detail-class{
  background-color: #DFDFDE;
  padding-top: 40px;
    height: 1340px;
}

.member_group_colouring{
  background-color: #FFFFFF;
  width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
