<div class="background-colour-class">
<div class="container my-3 bg-dark text-white tracker-add-list">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Name</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="tracker.username"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="tracker.userdescription"
            name="description"
          />
        </div>


        <div class="form-group">
          <label for="prioritytype">Priority Type</label>
          <input
            type="text"
            class="form-control"
            id="prioritytype"
            [(ngModel)]="tracker.prioritytype"
            name="prioritytype"
          />
        </div>
        <div class="form-group">
          <label for="worktype">Work Type</label>
          <input
            type="text"
            class="form-control"
            id="worktype"
            [(ngModel)]="tracker.worktype"
            name="worktype"
          />
        </div>
        <div class="form-group">
          <label for="membername">Members Name</label>
          <input
            type="text"
            class="form-control"
            id="membername"
            [(ngModel)]="tracker.membername"
            name="membername"
          />
        </div>
        
        
        <div class="form-group">
          <label for="bankname">Bank Name</label>
          <input
            type="text"
            class="form-control"
            id="bankname"
            [(ngModel)]="tracker.bankname"
            name="bankname"
          />
        </div>
        <div class="form-group">
          <label for="regionbank">Region Bank</label>
          <input
            type="text"
            class="form-control"
            id="regionbank"
            [(ngModel)]="tracker.regionbank"
            name="regionbank"
          />
        </div>
        <div class="form-group">
          <label for="solution">Solution</label>
          <input
            type="text"
            class="form-control"
            id="solution"
            [(ngModel)]="tracker.solution"
            name="solution"
          />
        </div>
        <div class="form-group">
          <label for="comment">Comments</label>
          <input
            type="text"
            class="form-control"
            id="comment"
            [(ngModel)]="tracker.comment"
            name="comment"
          />
        </div>
        <button (click)="saveTracker()" class="btn btn-success">Submit</button>
      </div>
      <div *ngIf="submitted">
        <h4>Tracker was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newTracker()">Add</button>
        <button class="btn btn-primary home-page-link" routerLink="/trackers">Home Page</button>
      </div>
    </div>
  </div>
</div>
