.submit-form {
    max-width: 400px;
    margin: auto;
  }
.home-page-link{
  margin-left: 20px;
  margin-right: 20px;
}
.tracker-add-list{
  max-width: 700px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.background-colour-class{
  background-color: #DFDFDE;
    padding-top: 40px;
    height: 990px;
}