<div class="background-colour-class">
 
<div class="container my-3 bg-dark text-white tracker-add-list">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          
          <label for="nametype">Name</label>
        <form [formGroup]="nametypeform">
          <select formControlName="nametype">
            <option *ngFor="let namevariable of nametypeVariable">
              {{namevariable}}</option>
          </select>
        </form>

          <!-- <label for="title">Name</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="tracker.username"
            name="name"
          /> -->
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="tracker.userdescription"
            name="description"
          />
        </div>


        <!-- <div class="form-group">
          <label for="prioritytype">Priority Type</label>
          <input
            type="text"
            class="form-control"
            id="prioritytype"
            [(ngModel)]="tracker.prioritytype"
            name="prioritytype"
          />
        </div> -->
        <label for="prioritytype">Priority type</label>
        <form [formGroup]="prioritytypeform">
          <select formControlName="prioritytype">
            <option *ngFor="let priorityvariable of prioritytypeVariable">
              {{priorityvariable}}</option>
          </select>
        </form>
        <br>

        <label for="worktype">WorkType</label>
        <form [formGroup]="worktypeform">
          <select formControlName="worktype">
            <option *ngFor="let workvariable of worktypeVariable">
              {{workvariable}}</option>
          </select>
        </form>

        
        
        
          <div class="form-group member_group_colouring" >
        <mat-form-field appearance="fill" style="padding-top: 0px;padding-right: 0px;padding-left: 0px;">
          <mat-label>Members Name</mat-label>
          <mat-select [formControl]="member" multiple>
            <mat-option *ngFor="let member of memberList" [value]="member">{{member}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

        
        
        
        <div class="form-group">
          <label for="bankname">Bank Name</label>
          <input
            type="text"
            class="form-control"
            id="bankname"
            [(ngModel)]="tracker.bankname"
            name="bankname"
          />
        </div>

        <label for="regiontype">Region type</label>
        <form [formGroup]="regiontypeform">
          
          <select formControlName="regiontype">
            <option *ngFor="let regionvariable of regiontypeVariable">
              {{regionvariable}}</option>
          </select>
        </form>

        

        
        

        <label for="solutiontype">Solution type</label>
        <form [formGroup]="solutiontypeform">
          
          <select formControlName="solutiontype">
            <option *ngFor="let solutionvariable of solutiontypeVariable">
              {{solutionvariable}}</option>
          </select>
        </form>




        <div class="form-group">
          <label for="comment">Comments</label>
          <input
            type="text"
            class="form-control"
            id="comment"
            [(ngModel)]="tracker.comment"
            name="comment"
          />
        </div>
        <button (click)="saveTracker()" class="btn btn-success">Submit</button>
      </div>
      <div *ngIf="submitted">
        <h4>Tracker was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newTracker()" routerLink="add">Add</button>
        <button class="btn btn-primary home-page-link" routerLink="..">Home Page</button>
      </div>
    </div>
  </div>
</div>
