<div class="container-fluid">
  <div class="list row">
    <div class="search-align">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search by Name"
            [(ngModel)]="username"
          />
          <div class="input-group-append">
            <button
              class="btn btn-primary search-main-button"
              type="button"
              (click)="searchTitle()"
            >
              Search
            </button>
          </div>
          <div class="input-group-append">
            <button
              class="btn btn-primary cancel-button"
              type="button"
              (click)="cancelTitle()"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    
    
 <div class="filter-align" style = "display:inline">
  <form [formGroup]="prioritytypeform" style = "display:inline" >
    <select formControlName="prioritytype" class="textalignclass">
      <option *ngFor="let priorityvariable of prioritytypeVariable">
        {{priorityvariable}}</option>
    </select>
  </form>
      <button
        class="btn btn-outline-dark search-button button_padding"
        type="button"
        (click)="searchByPriority()"
      >
        Filter by Priority
      </button>
<br>
  <form [formGroup]="solutiontypeform" style = "display:inline" >
    <select formControlName="solutiontype" class="textalignclass">
      <option *ngFor="let solutionvariable of solutiontypeVariable">
        {{solutionvariable}}</option>
    </select>
  </form>
      <button
        class="btn btn-outline-dark search-button button_padding"
        type="button"
        (click)="searchBySolution()"
      >
        Filter by Solution
      </button>
</div> 
    
    <div class="col-md-6" style="padding-left: 100px">
      <div class="tracker-list-text"><h4>Trackers List</h4>
     
      
<br><br><br>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let teammember of team_memberList
  | paginate: { currentPage: page,
    itemsPerPage: pageSize,
    totalItems: countofname}
  let i = index"
  [class.active]="i == currentIndexofTeamMember"
  (click)="setActiveTeamMember(i,teammember)">
    {{teammember}}
  </li>
 

</ul>

    </div>
      <!-- <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTrackers()">
        Remove All
      </button>
       <button class="m-3 btn btn-sm btn-danger" (click)="deleteTracker()">
        Remove this Task
      </button>
      <button class="m-3 btn btn-sm btn-primary" (click)="retrieveCompletedTrackers()">
        Completed Tasks
      </button> -->
    </div>

    <ul class="list-group task_align">
      <li class="list-group-item"
        *ngFor="let tracker of trackersdata;let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTracker(tracker, i)">
        {{ tracker.userdescription }}
        
      </li>
    </ul> 
      <div class="col-md-3 tracker-list-align">
        <app-tracker-details
          [viewMode]="true"
          [currentTracker]="currentTracker"
        ></app-tracker-details>
      </div>
    </div>
    
    <div class="footer-align-class">
    <table class="table">
      <td>
        <div class="col-xs-6 pagination-control-list">
        <pagination-controls 
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="handlePageChange($event)"
      ></pagination-controls>
      </div>
    </td>
        <td>
          <div class="col-xs-6 page-size-class">
            Items per Page:    
        <select (change)="handlePageSizeChange($event)">
        
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
        </select>
          </div>

        </td>
      </table>
    </div>
 
  </div>

