<body>
  <div class = title >Calculator</div>
  <table border="2">
  <tr>
  <td><input type="button" value="c" class="btn btn-primary" onclick="clr()"/> </td>
  <td colspan="3"><input type="text" id="textval"/></td>
  </tr>
  <tr>
  <td><input type="button" value="+" class="btn btn-primary" onclick="display('+')"/> </td>
  <td><input type="button" value="1" class="btn btn-primary" onclick="display('1')"/> </td>
  <td><input type="button" value="2" class="btn btn-primary" onclick="display('2')"/> </td>
  <td><input type="button" value="3" class="btn btn-primary" onclick="display('3')"/> </td>
  </tr>
  <tr>
  <td><input type="button" value="-" class="btn btn-primary" onclick="display('-')"/> </td>
  <td><input type="button" value="4" class="btn btn-primary" onclick="display('4')"/> </td>
  <td><input type="button" value="5" class="btn btn-primary" onclick="display('5')"/> </td>
  <td><input type="button" value="6" class="btn btn-primary" onclick="display('6')"/> </td>
  </tr>
  <tr>
  <td><input type="button" value="*" class="btn btn-primary" onclick="display('*')"/> </td>
  <td><input type="button" value="7" class="btn btn-primary" onclick="display('7')"/> </td>
  <td><input type="button" value="8" class="btn btn-primary" onclick="display('8')"/> </td>
  <td><input type="button" value="9" class="btn btn-primary" onclick="display('9')"/> </td>
  </tr>
  <tr>
  <td><input type="button" value="/" class="btn btn-primary" onclick="display('/')"/> </td>
  <td><input type="button" value="." class="btn btn-primary" onclick="display('.')"/> </td>
  <td><input type="button" value="0" class="btn btn-primary" onclick="display('0')"/> </td>
  <td><input type="button" value="=" class="btn btn-primary" onclick="evaluate()"/> </td>
  </tr>
  </table>
  </body>