.heading-align{
    margin-right: 430px;
}
.navbar-align
{
    margin-bottom: 0px;
    border-bottom-width: 40px;
    
}
.navbar-colouring
{
    /* background-color: #FAFDD6; */
    background-color:#98e7bc;
}
.heading-font{
    font-family: 'Bebas Neue', cursive;
    font-size: 26px;
}
.background-app-class{
    
    /* background-color: #8D8DAA; */
    background-color:#DFDFDE;
    height: 730px;
}

