
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-danger" href="https://profinch.com/">Profinch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-nav mr-auto">
    
    <li class="nav-item">
      <a routerLink="trackers" class="nav-link text-primary">Trackers</a>
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link text-success">Add</a>
    </li>
  </div>
  <div class="mx-auto">
    <a class="navbar-brand heading-align" href="#">Pre Sales Tracker</a>
    
</div>

  <div class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link text-primary" href="https://profinch.sharepoint.com/sites/presales/Shared%20Documents/Forms/AllItems.aspx">SharePoint</a>
    </li>
  </div>
</nav>
    <router-outlet></router-outlet>
  