<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Grape+Nuts&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-align navbar-colouring">
  <a class="navbar-brand text-danger" href="https://profinch.com/">Profinch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="trackers" class="nav-link text-primary">Trackers</a>
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link text-success">Add</a>
    </li>
    <li class="nav-item">
      <a routerLink="dashboard" class="nav-link text-primary">DashBoard</a>
    </li>
    
  </div>
  <div class="mx-auto">
    <a class="navbar-brand heading-align text-primary heading-font" href="#">Pre Sales Tracker</a> 
</div>
</nav>
<div class="background-app-class">
    <router-outlet></router-outlet>
  </div>


  <!-- <mat-form-field appearance="fill">
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings">
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field> -->