
<div class="container">
<br>
<br>
<h1>{{limit}}</h1>
<br>
<input 
type="range"
min=0
max=20
value ={{limit}}
 (change)="slide_func($any($event.target).value)"   
/> 
<!--not clear revisit later as why any event target -->
<br>
<button type="button" class="btn btn-primary" (click)="generate()">Generate words</button>
<br>
    <div *ngIf="words" class="card card-body">
        {{words}}
    </div>
    <br>
<button type="button" class="btn btn-primary" (click)="generate_country()">Generate random country</button>
<div *ngIf="random_country" class="card card-body">
    {{random_country}}
</div>
</div>

