<div class="container">
<h3>enter first number</h3>
<br>
<input type="number" [(ngModel)]="num1">
<h3>enter second number</h3>
<br>
<input type="number" [(ngModel)]="num2">
<br>
<br>
<button class="btn btn-primary btn-spacing" (click)="addnum()">add</button>
<button class="btn btn-primary btn-spacing" (click)="subnum()">subtract</button>
<button class="btn btn-primary btn-spacing" (click)="mulnum()">multiply</button>
<button class="btn btn-primary btn-spacing" (click)="divnum()">divide</button>
<br>
<br>
<p *ngIf="displayResult">
    The {{ operation }} of {{ num1 }} and  {{ num2 }} is {{ num3 }}
</p>

</div>